/*Import af display font*/
@import url('https://fonts.cdnfonts.com/css/impact');

/*Import af brødtekst font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --lysGul: #f0d597;
    --orange: #ee6f20;
    --lyserod: #f7d1be;
    --primærRod: #b02519;
    --eglosningRod: #82363b;
    --forsideRod: #b24c47;

    --displayFont: 'Impact', sans-serif;
    --font: 'Noto Sans', sans-serif;

}


body {
    background-color: var(--lysGul);
}

h2, h3 {
    color: var(--eglosningRod);
}

#tryk {
    color: var(--eglosningRod);
    width: 35%;
    margin: auto;
    z-index: 100;
    position: absolute;
    top: 650px;
    left: 5%;
    font-size: 40px;
    text-align: center;
}

#livmoder { 
    height: 750px; 
    width: 95%;
    margin: auto;
}

/*Ændre farven på popup fra leaflet - kilde til hjælp: https://stackoverflow.com/questions/20532635/how-can-i-change-the-background-color-of-a-leaflet-popup */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: var(--eglosningRod);
  color: var(--lysGul);
  font-size: 30px;
}

/*Ændre farven på baggrunden af leaflet til gennemsigtig - kilde til kode: https://gis.stackexchange.com/questions/106811/make-leaflet-map-background-transparent*/
.leaflet-container {
    background-color:rgba(255,0,0,0.0);
}

/*Flex'er tekst og graf, så de står ved siden af hinanden*/
#grafPeak {
    /*display: flex;
    justify-content: space-between;*/
    width: 95%;
    margin: auto;
    color: var(--eglosningRod);
}


/*kilde til at lave skrift omkring billede: https://www.geeksforgeeks.org/how-to-wrap-the-text-around-an-image-using-html-and-css/ */
.graf {
    float: right;
    margin: 15px;
    width: 60%;
}