* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    width: 100vw;
    padding-top: 6%;
    background-color: #B02519;
    color: #F7D1BE;
}

.containerO {
    display: flex;
    justify-content: flex-start;
}

/*Video - kommentar*/
video { width: 100%; max-width: 100%; margin: 20px auto; display: block; }
#questionBox, #factBox { display: none; background: white; margin: 20px auto; padding: 20px; border-radius: 10px; width: 80%; max-width: 600px; box-shadow: 0 0 10px rgba(0,0,0,0.1); }
.btn { background: #007BFF; color: white; border: none; padding: 10px 20px; margin: 10px; border-radius: 5px; cursor: pointer; }
.btn:hover { background: #0056b3; }

#boks {
    background-color: white;
    z-index: 100;
    position: absolute;
    top: 800px;
}