/*Import af display font*/
@import url('https://fonts.cdnfonts.com/css/impact');

/*Import af brødtekst font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --lysGul: #f0d597;
    --orange: #ee6f20;
    --lyserod: #f7d1be;
    --primærRod: #b02519;
    --eglosningRod: #82363b;
    --forsideRod: #b24c47;

    --displayFont: 'Impact', sans-serif;
    --font: 'Noto Sans', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding-top: 6%;
    background-color: var(--primærRod);
    color: var(--lyserod);

}


#video {
    margin-top: 10px;
}


#boks {
    background-color: var(--lyserod);
    color: var(--primærRod);
    z-index: 100;
    position: absolute;
    top: 600px;
    left: 200px;
    width: 600px;
    height: 35%;
    border-radius: 30px;
    text-align: center;
    padding-top: 20px;
}

#boks button {
    font-family: var(--font);
    font-size: 30px;
    font-weight: 700;
    background-color: var(--primærRod);
    color: var(--lyserod);
    border: 0px;
    width: 90%;
    margin-top: 25px;
    border-radius: 30px;
}


#endometriose {
    padding-top: 60px;
    width: 90%;
    margin: auto;
    font-family: var(--font);
    font-weight: 700;
    font-size: 30px;
}

#endo {
    width: 50%;
    float: right;
    border-radius: 20px;
}

#tekst {
    width: 45%;
}

.stor {
    font-size: 70px;
}

