/*Import af display font*/
@import url('https://fonts.cdnfonts.com/css/impact');

/*Import af brødtekst font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --lysGul: #f0d597;
    --orange: #ee6f20;
    --lyserod: #f7d1be;
    --primærRod: #b02519;
    --eglosningRod: #82363b;
    --forsideRod: #b24c47;

    --displayFont: 'Impact', sans-serif;
    --font: 'Noto Sans', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    color: var(--lysGul);
}




h2 {
    font-size: 120px;
    font-family: var(--displayFont);
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 100;


}

h3 {
    font-size: 60px;
    font-family: var(--displayFont);
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 100;

}

p {
    font-family: var(--font);
    font-weight: 700;
    font-size: 30px;
}

main {
    padding-bottom: 35px;
}


.containerO {
    display: flex;
    justify-content: flex-start;
}


footer {
    width: 100%;
    text-align: center;
    position: sticky;
    bottom: 0;
}

#footerlinks {
    display: flex;
    flex-direction: row;
}



footer h3 {
    color: #000;
}

#vinter, #forår, #sommer, #efterår {
    width: 25%;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: none;
    font-size: 20px;
}

#vinter {
    background-color: var(--primærRod);
}
#forår {
    background-color: var(--lyserod);
}
#sommer {
    background-color: var(--lysGul);
}
#efterår {
    background-color: var(--orange);
}